html, body {
    height: 100%;
    font-family: Arial, Tahoma;
    color: rgb(236, 233, 233);
}

.header {
    height: 45px;
    border-radius: 20px 20px 20px 20px;
}

.wrapper {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.page {
    min-height: 100%;
    padding-bottom: 90px;
    min-width: 1000px;
    box-sizing: border-box;
}

.authorization{
    display: flex;
    justify-content: center;
    margin: 150px 0 0 0;
}

.authorization_h5_center{
    text-align: center;
}

.login_btn{
    display:block;
    float:left;
}

.login_p_social_authorization{
    margin: 80px 0 15px 0;
    text-indent: 25%;
}

.social_icons{
    margin: 0 0 0 150px;
}

.forgot_password{
    display:block;
    float:left;
    margin: 10px 0 0 150px;
}

#login_non_auth,
#user_login{
    margin-left: auto;
}

#profile_photo {
    margin: 20px 0 20px 100px;
}

#profile_form{
    width: 370px;
}

#group_chat_create_input{
    width: 240px;
}

.card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7
}

.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea
}

#input-send {
    flex-wrap: nowrap;
}

#chat-message-submit {
    margin: 0 0 0 10px;
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px
}

.chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.chat-list li.active {
    background: #efefef
}

.chat-list li .name {
    font-size: 15px;
    color: black;
}

.chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.about {
    float: left;
    padding-left: 8px
}

.status {
    color: #999;
    font-size: 13px
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}

.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff;
    overflow-y: auto;
}

.chat .chat-history ul {
    padding: 0;
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative;
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -25px
}

.chat .chat-history .my-message {
    background: #efefef
}


.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    text-align: right
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.chat .chat-message {
    padding: 20px
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right;
    background: #e8f1f3;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
    .chat .chat-history .message{
        max-width: 270px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
    .chat .chat-history .message{
        max-width: 270px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
    .chat .chat-history .message{
        max-width: 370px;
    }
}

@media only screen and (min-width: 1025px) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
    .chat .chat-history .message{
        max-width: 610px;
    }
}

.chat-history::-webkit-scrollbar,
.list-unstyled::-webkit-scrollbar {
    width: 5px;
    
    
  }
  
.chat-history::-webkit-scrollbar-thumb,
.list-unstyled::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(13, 110, 253, 0.2);
    
    
  }
  
.chat-history::-webkit-scrollbar-track,
.list-unstyled::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
    display: none;
}

.create_group_chat{
    margin: 15px 0 0 0;
}

#id_group_photo{
    margin: 0 0 5px 0;
}

#count_group {
    text-decoration: none;
}

.participants-list {
    display: none; /* Изначально скрываем список */
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1000; /* Установите z-index, чтобы список находился поверх других элементов */
    width: 260px;
}

/* Пример стилей для элементов списка */
.participants-list a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333;
}

.participants-list a:hover {
    background-color: #f0f0f0;
}

#group_chat {
    margin: 10px 0 0 0;
}

#a_add_to_group{
    color: #0379b8;
}

#a_add_to_group:hover{
    color: #003985;
}

#show-participants{
    text-decoration: none;
}