{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}
<div class="container">
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card chat-app">

            <div id="plist" class="people-list">
                <div class="input-group">
                    <!--<div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>-->
                    <input type="text" class="form-control" id="user-input" placeholder="Search...">
                </div>
                <div id="replaceable-content">
                <ul class="list-unstyled chat-list mt-2 mb-0">
                    {% for chat in chats %}
                        {% if chat.user1 != request.user %}
                            {% with user_1=chat.user1 %}
                            <a href="{% url "chat:user_name" chat.user1.id %}">
                                <li class="clearfix">
                                        <!--<img src="{{ user_1.image.url }}" class='img-fluid rounded-circle'>-->
                                        {% thumbnail user_1.image "45x45" crop="center" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class='img-fluid rounded-circle'
                                            style='max-width: 150px;'>
                                        {% endthumbnail %}
                                    <div class="about">
                                        <div class="name">{{ chat.user1.username }}</div>
                                        <div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>                                            
                                    </div>
                                </li>
                            </a>
                            {% endwith %}
                        {% elif chat.user2 != request.user %}
                        {% with user_2=chat.user2 %}
                        <a href="{% url "chat:user_name" chat.user2.id %}">
                            <li class="clearfix">
                                {% thumbnail user_2.image "45x45" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class='img-fluid rounded-circle'
                                        style='max-width: 150px;'>
                                {% endthumbnail %}
                                   <!--<img src="{{ user_2.image.url }}" alt="avatar">-->
                                <div class="about">
                                    <div class="name">{{ chat.user2.username }}</div>
                                    <div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>                                            
                                </div>
                            </li>
                        </a>
                        {% endwith %}
                        {% endif %}
                    {% endfor %}
                </ul>
                </div>
            
            </div>
            
            <div class="chat">

                <div class="chat-header clearfix">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                            </a>
                            <div class="chat-about">
                                <h6 class="m-b-0">Aiden Chavez</h6>
                                <small>Last seen: 2 hours ago</small>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="chat-history" id='chat_scroll'>
                        <ul class="m-b-0" id="chat">

                        </ul>
                </div>

                <div class="chat-message clearfix">
                    <div class="input-group mb-0" id="input-send">
                        
                            <div class="input-group-prepend">
                                
                                <input class="form-control" id="chat-message-input" type="text" size="100">
                            </div>
                                <!--<textarea id="chat-log" cols="100" rows="20"></textarea>--><br>
                                <button class="btn btn-primary" id="chat-message-submit" type="button" value="Send">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                                  </svg>
                                </button>
                                
                            </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    {% block include_js %}
    {{ room_name|json_script:"room-name" }}
    {{ request.user.username|json_script:"request-user" }}
    {% endblock %}

    {% block domready %}
    <script>
        
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const requestUser = JSON.parse(document.getElementById('request-user').textContent);
 
        
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const chat = document.getElementById('chat');
            const dateOptions = {hour: 'numeric', minute: 'numeric', hour24: true};
            const datetime = new Date(data.datetime).toLocaleString('ru', dateOptions);
            const chat_scroll = document.getElementById('chat_scroll');
            console.log(datetime)
            console.log(data);
            const isMe = data.user === requestUser;
            const source = isMe ? 'other-message float-right' : 'my-message';
            const name = isMe ? 'Me' : data.user;
            //document.querySelector('#chat-log').value += (name + ': ' + data.message + '\n');
            chat.innerHTML += '<li class="clearfix">' +
                              '<div class="message-data ' + source + 
                              '-data"><span class="message-data-time">' + 
                                datetime + '</span></div>' + 
                              '<div class="message ' + source + '">' +
                              '<strong>' + name + '</strong> ' +
                              data.message + '</div>' +
                              '</li>';
            chat_scroll.scrollTop = chat_scroll.scrollHeight;
        };


        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'user': requestUser
            }));
            messageInputDom.value = '';
        };


        //search
        const user_input = $("#user-input")
        //const search_icon = $('#search-icon')
        const chats_div = $('#replaceable-content')
        const endpoint = '/chat/search/'
        const delay_by_in_ms = 700
        let scheduled_function = false

        let ajax_call = function (endpoint, request_parameters) {
            $.getJSON(endpoint, request_parameters)
                .done(response => {
                    // fade out the chats_div, then:
                    chats_div.fadeTo('slow', 0).promise().then(() => {
                        // replace the HTML contents
                        chats_div.html(response['html_from_view'])
                        // fade-in the div with new contents
                        chats_div.fadeTo('slow', 1)
                        // stop animating search icon
                        //search_icon.removeClass('blink')
                    })
                })
                
        }
        console.log(ajax_call);
        
        user_input.on('keyup', function () {

            
        
            const request_parameters = {
                search: $(this).val() // value of user_input: the HTML element with ID user-input
            }
            console.log(request_parameters);
        
            // start animating the search icon with the CSS class
            //search_icon.addClass('blink')
        
            // if scheduled_function is NOT false, cancel the execution of the function
            if (scheduled_function) {
                clearTimeout(scheduled_function)
            }

            // setTimeout returns the ID of the function to be executed
            scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters)
        })
        


    </script>
    {% endblock %}
{% endblock %}