{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}
<div class="container">
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card chat-app">

            <div id="plist" class="people-list">
                <div class="input-group">
                    <!--<div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>-->
                    <input type="text" class="form-control" id="user-input" placeholder="Поиск...">
                    <!--<div class="input-group-append">
                        <button class="btn btn-outline-secondary clear-input" type="button">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>-->
                </div>
                <div id="replaceable-content">
                <ul class="list-unstyled chat-list mt-2 mb-0" id="init_html">
                    {% if not chats %}
                        <div class="alert alert-info"><p>На данный момент, у вас нет ни одного чата. Воспользуйтесь поиском.</p><div>
                    {% else %}
                    {% for chat in chats %}
                        {% with us=chat.user.all %}
                            {% for i in us %}
                                {% if i != request.user %}
                                    <a href="{% url "chat:user_name" i.id %}">
                                        {% if chat.id != room_name %}<li class="clearfix">{% else %}<li class="clearfix active">{% endif %}
                                                <!--<img src="{{ user.image.url }}" class='img-fluid rounded-circle'>-->
                                                {% thumbnail i.image "45x45" crop="center" as im %}
                                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class='img-fluid rounded-circle'
                                                    style='max-width: 150px;'>
                                                {% endthumbnail %}
                                            <div class="about">
                                                <div class="name">{{ i.username }}</div>
                                                <div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>                                            
                                            </div>
                                        </li>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        {% endwith %}
                        
                        
                    {% endfor %}
                    {% endif %}
                </ul>
                </div>
            
            </div>
            
            <div class="chat">
                {% include "chat/includes/included_chat.html" %}
                
            </div>
        </div>
    </div>
</div>
</div>
    {% block include_js %}
    {{ room_name|json_script:"room-name" }}
    {{ request.user.username|json_script:"request-user" }}
    {% endblock %}

    {% block domready %}
    <script>
        
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const requestUser = JSON.parse(document.getElementById('request-user').textContent);
 
        
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const chat = document.getElementById('chat');
            const dateOptions = {hour: 'numeric', minute: 'numeric', hour24: true};
            const datetime = new Date(data.datetime).toLocaleString('ru', dateOptions);
            const chat_scroll = document.getElementById('chat_scroll');
            console.log(datetime)
            console.log(data);
            const isMe = data.user === requestUser;
            const source = isMe ? 'other-message float-right' : 'my-message';
            const name = isMe ? 'Me' : data.user;
            //document.querySelector('#chat-log').value += (name + ': ' + data.message + '\n');
            chat.innerHTML += '<li class="clearfix">' +
                              '<div class="message-data ' + source + 
                              '-data"><span class="message-data-time">' + 
                                datetime + '</span></div>' + 
                              '<div class="message ' + source + '">' +
                              '<strong>' + name + '</strong> ' +
                              data.message + '</div>' +
                              '</li>';
            chat_scroll.scrollTop = chat_scroll.scrollHeight;

        };


        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            
            if (message !== '') {
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'user': requestUser
                }));
                messageInputDom.value = '';
            } //else {
                //alert('Пожалуйста, введите текст сообщения.');
            //}
        };


        //search
        const user_input = $("#user-input")
        //const search_icon = $('#search-icon')
        const chats_div = $('#replaceable-content')
        const endpoint = '/chat/search/'
        const delay_by_in_ms = 700
        let scheduled_function = false

        let ajax_call = function (endpoint, request_parameters) {
            $.getJSON(endpoint, request_parameters)
                .done(response => {
                    // fade out the chats_div, then:
                    chats_div.fadeTo(200, 0).promise().then(() => {
                        // replace the HTML contents
                        chats_div.html(response['html_from_view'])
                        // fade-in the div with new contents
                        chats_div.fadeTo(200, 1)
                        // stop animating search icon
                        //search_icon.removeClass('blink')
                    })
                })
                
        }
        
        
        user_input.on('keyup', function () {
            const searchValue = $(this).val()
            if (searchValue === '') {
                replaceOriginalContent();
                return;
            }

            //$('.clear-input').click(function() {
                // Очищаем значение поля ввода
            //    $('#user-input').val('');
                // Устанавливаем фокус на поле ввода
            //    $('#user-input').focus();
            //});

            const request_parameters = {
                search: searchValue // value of user_input: the HTML element with ID user-input
            }
            
        

            // start animating the search icon with the CSS class
            //search_icon.addClass('blink')
        
            // if scheduled_function is NOT false, cancel the execution of the function
            if (scheduled_function) {
                clearTimeout(scheduled_function)
            }

            // setTimeout returns the ID of the function to be executed
            scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters)
        });

        const initialContent = $('#replaceable-content').html();

        function replaceOriginalContent() {
            // Здесь вы можете заменить содержимое div на исходные данные,
            // например, используя сохраненные на клиенте данные
            // Например:
            chats_div.html(initialContent);
        }

       

    </script>
    {% endblock %}
{% endblock %}