{% load static %}
{% load thumbnail %}

{% block content %}

{% if query %}

<div style = 'clear: both;'></div>

<ul class="list-unstyled chat-list mt-2 mb-0" id="init_html">
    {% for i in result %}
        {% if i != user %}
            <a href="{% url 'chat:user_name' i.id None %}">
                <li class="clearfix">
                    {% thumbnail i.image "45x45" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class='img-fluid rounded-circle'
                            style='max-width: 150px;'>
                    {% endthumbnail %}
                    <div class="about">
                        <div class="name">{{ i.username|truncatechars:18 }}</div>
                        <div class="status" id="user-status">
                            {% if i.online %}
                                онлайн
                            {% else %}
                                {% if date|date:"j" == i.last_online|date:"j" %}
                                    Был в сети: сегодня<br>
                                    в {{ i.last_online|time:"H:i" }}
                                {% elif date|date:"j"|add:-1 == i.last_online|date:"j" %}
                                    Был в сети: вчера<br>
                                    в {{ i.last_online|time:"H:i" }}
                                {% else %}
                                    Был в сети:<br>
                                    {{ i.last_online }}
                                {% endif %}
                            {% endif %}
                        </div>                                           
                    </div>
                </li>
            </a>
        {% endif %}
    {% endfor %}
</ul>

{% else %}
    <div class="empty_cart_parent">
        <div class="empty_cart">
            <img class="search_none_img" src="{% static 'books/img/mailcorgy.svg' %}" >
            <h5 class="search_none">Похоже, у нас такого нет</h5>
            <p id="cat_a_author">Но на всякий случай советуем проверить опечатки в запросе</p>
        </div>
    </div>
{% endif %}

{% endblock %}