{% load static %}
{% load thumbnail %}

{% block content %}

{% if query %}

<div style = 'clear: both;'></div>

<ul class="list-unstyled chat-list mt-2 mb-0" id="init_html">
    {% for i in result %}
        <li class="clearfix">
            {% thumbnail i.image "45x45" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class='img-fluid rounded-circle'
                    style='max-width: 150px;'>
            {% endthumbnail %}
            <div class="about">
                <div class="name">{{ i.username }}</div>
                <div class="status"><a href="{% url 'chat:add_to_group' i.username room_id %}" id="a_add_to_group">Добавить в группу</a></div>
            </div>
        </li>
    {% endfor %}
</ul>

{% else %}
    <div class="empty_cart_parent">
        <div class="empty_cart">
            <img class="search_none_img" src="{% static 'books/img/mailcorgy.svg' %}" >
            <h5 class="search_none">Похоже, у нас такого нет</h5>
            <p id="cat_a_author">Но на всякий случай советуем проверить опечатки в запросе</p>
        </div>
    </div>
{% endif %}

{% endblock %}