{% load static %}


<div class="chat-header clearfix">
    <div class="row">
        <div class="col-lg-6">
            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
            </a>
            <div class="chat-about">
                <h6 class="m-b-0">Aiden Chavez</h6>
                <small>Last seen: 2 hours ago</small>
            </div>
        </div>
        
    </div>
</div>
<div class="chat-history" id='chat_scroll'>
        <ul class="m-b-0" id="chat">

        </ul>
</div>

<div class="chat-message clearfix">
    <div class="input-group mb-0" id="input-send">
        
            <div class="input-group-prepend">
                
                <input class="form-control" id="chat-message-input" type="text" size="100">
            </div>
                <!--<textarea id="chat-log" cols="100" rows="20"></textarea>--><br>
                <button class="btn btn-primary" id="chat-message-submit" type="button" value="Send">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                  </svg>
                </button>
                
            </div>
            
    </div>
</div>