{% load static %}
{% load thumbnail %}

<div class="chat-header clearfix">
    
    {% for chat in chats %}
        {% if chat.id == room_id %}
            {% if chat.group_name %}
            <div class="row">
                <div class="col-lg-6">
                    {% thumbnail chat.group_photo "45x45" crop="center" as im %}
                    <a href="" id="show-participants-image">
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class='img-fluid rounded-circle'
                            style='max-width: 150px;'>
                    </a>
                    {% endthumbnail %}
                    <div id="participants-list-image" class="participants-list-image">
                        <form method="POST" enctype="multipart/form-data" action="{% url "chat:change_group" chat.id %}">
                            {% csrf_token %}
                            <p>
                                <label class="form_label" id="id_group_photo" for="id_group_photo">Изображение группы: </label>
                                <input type="file" 
                                    class="form-control form-control-sm"
                                    name="group_photo"
                                    accept="image/*">
                                {% if group_chat_form.group_photo.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{group_chat_form.group_photo.errors}}</div>
                                {% endif %}
                            </p>
                            <p>
                                <input type="text" class="form-control" id='group_chat_create_input'
                                    name="group_name"
                                    placeholder="Назавание группы"
                                    value="{{ group_chat_form.group_name.value }}"
                                    required>
                                {% if group_chat_form.group_name.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{group_chat_form.group_name.errors}}</div>
                                {% endif %}
                            </p>
                                <button type="sumbit" class="btn btn-primary">Изменить</button>
                        </form>
                    </div>
                    <div class="chat-about">
                        <h6 class="m-b-0">{{ chat.group_name }}</h6>
                        <div class="user-status-container">
                            <a href="#" id="show-participants">Участников: {{ users_in_group|length }}</a>
                            <div id="participants-list" class="participants-list">
                                <div id="replace_content_group">
                                <ul class="list-unstyled chat-list mt-2 mb-0">
                                {% for us in users_in_group %}
                                        <li class="clearfix">
                                            {% thumbnail us.image "45x45" crop="center" as im %}
                                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class='img-fluid rounded-circle'
                                                    style='max-width: 150px;'>
                                                {% endthumbnail %}
                                            <div class="about">
                                                <div class="name">{{ us.username }}</div>
                                                <div id="kickout">
                                                    <a href="{% url "chat:kickout_from_group" us.username room_id %}" id="kickout_a">
                                                        {% if us != request.user %}
                                                            Выгнать
                                                        {% else %}
                                                            Выйти
                                                        {% endif %}
                                                    </a>
                                                </div>
                                            </div>       
                                        </li>
                                {% endfor %}
                                </ul>
                                </div>
                                <div class="input-group" id="group_chat">
                                    <input type="text" class="form-control" id="user-input-2" placeholder="Добавить в группу">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
            {% else %}
            {% with us=chat.user.all %}
                {% for i in us %}
                    {% if request.user != i %}
                        <div class="row">
                            <div class="col-lg-6">
                                {% thumbnail i.image "45x45" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class='img-fluid rounded-circle'
                                        style='max-width: 150px;'>
                                {% endthumbnail %}
                                <div class="chat-about">
                                    <h6 class="m-b-0">{{ i.username }}</h6>
                                    <div id="user-status"><small id="user-status">
                                        {% if i.online %}
                                            онлайн
                                        {% else %}
                                            {% if date|date:"j" == i.last_online|date:"j" %}
                                                Был в сети: сегодня в {{ i.last_online|time:"H:i" }}
                                            {% elif date|date:"j"|add:-1 == i.last_online|date:"j" %}
                                                Был в сети: вчера в {{ i.last_online|time:"H:i" }}
                                            {% else %}
                                                Был в сети:{{ i.last_online }}
                                            {% endif %}
                                        {% endif %}
                                    </small></div>
                                </div>
                            </div>
                            
                        </div>
                    {% endif %}
                {% endfor %}
            {% endwith %}
            {% endif %}  
        {% endif %}
    {% endfor %}
</div>
<div class="chat-history" id='chat_scroll'>
        <ul class="m-b-0" id="chat">
            
        </ul>
</div>

<div class="chat-message clearfix">
    <div class="input-group mb-0" id="input-send">
        
            <div class="input-group-prepend">
                
                <input class="form-control" id="chat-message-input" type="text" size="100">
            </div>
                <br>
                <button class="btn btn-primary" id="chat-message-submit" type="button" value="Send">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                  </svg>
                </button>
                
            </div>
            
    </div>
</div>